[mypy]

pretty = true

ignore_missing_imports = true
check_untyped_defs = true
warn_unused_ignores = true

no_implicit_optional = true
strict_equality = true
warn_redundant_casts = true

## doc says this option is evil (https://mypy.readthedocs.io/en/stable/config_file.html)
strict_optional = false

#no_implicit_reexport = true

## massive warnings
#disallow_incomplete_defs = true
